/*
 * RangeMenu Styles
 */

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url(../images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(../images/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(../images/equals.png) !important;
}

/*notification styles*/ 
#instructions ul li {
    list-style-type:disc;
    list-style-position:outside;
    font-size:12px;
    margin:0px 0px 0px 20px;
}

/* Icons */
.ux-notification-icon-information {
    /*background-image: url('../images/icon16_info.png');*/
}

.ux-notification-icon-error {
    /*background-image: url('../images/icon16_error.png');*/
}


/* Using standard theme */
.ux-notification-window .x-window-body {
    text-align: center;
    padding: 15px 5px 15px 5px;
    width: 200px;
}


/* Custom styling */
.ux-notification-light .x-window-header {
    background-color: transparent;
}

body .ux-notification-light {
    background-image: url('../images/fader.png');
}

.ux-notification-light .x-window-body {
    text-align: center;
    padding: 15px 5px 18px 5px;
    width: 200px;
    background-color: transparent;
    border: 0px solid white;
}


.mainTitle {
font-size: 24px;
font-weight: 200;
color: #454545;
margin: 4px 0 0 60px;
/* top: -7px; */
/* font-style: inherit; */
}

.mainTitle p {
font-size: 12px;
margin: 0;
/* font-style: italic; */
color: #888;
}

.toparrow span span {
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 5px solid white;
}

.bottomarrow span span {
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid white;
}

/*Birt Report Container Styles*/
#BirtReportsContainer table{
    margin : auto;
}